.mainloginBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.loginBox {
    display: flex;
    background-color: #333;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    align-items: center;
    margin-top: 300px;
    padding: 20px;
    border-radius: 10px;
    font-size: large;
}
.loginBox button {
    width: auto;
    background-color: #333;
    color: #ccc;
}
.loginBox button:hover {
    background-color: #ccc;
    color: #333;
}
.loginBox input {
    font-size: larger;
}
.loginBox input[type="file"] {
    font-size: larger;
    width: 250px;
}