.mainFullMovie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
    
}
.movieFullHeader {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 5px red;
}
.movieFullDescription {
    border: 1px solid white;
    border-radius: 10px;
    height: 70px;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    background-color: #333333cc;
}

.movieFullFacts{
    position: absolute;
    left: 10px;
    top: 210px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    height: 500px;
    padding: 10px;
    line-height: 2;
    background-color: #333333cc;
}
.movieFullIcons{
    margin: 10px;
    
}
.movieFullIcons img{
    cursor: pointer;
    margin: 0 40px 0 40px;
    transition: 0.3s ease;
}
.movieFullIcons img:hover{
    transform: scale(1.05);
}
.movieFullComment{
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 210px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px 0 0 10px;
    margin: 10px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 400px;
    padding: 10px;
    line-height: 2;
    background-color: #333333cc;
}
.movieFullComment button{
    position: absolute;
    right: 10px;
    top: 10px;
}
.movieFullCommentFrame{
    border: 1px solid white;
    border-radius: 10px;
    width: 370px;
    
    margin: 5px;
    padding: 5px;
}
.movieFullCommentInput{
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 120px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px 0 0 10px;
    margin: 10px;
    width: 400px;
    padding: 10px;
    background-color: #333333cc;
}
.movieFullCommentInput input[type="number"] {
    width: 70px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movieFullCommentInput input[type="text"] {
    width: 340px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movieFullCommentInput button{
    position: absolute;
    right: 5px;
    top: 49px;
    border-radius: 0px;
    width: 50px;
    height: 25px;
}