.mainFullMovie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
}
.mainFullMovie img {
    border-radius: 10px;
}
.movieFullHeader {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 5px red;
}
.movieFullDescription {
    border: 1px solid white;
    border-radius: 10px;
    height: 70px;
    text-align: center;
    padding: 10px;
    background-color: #333333cc;
}

.movieFullFacts{
    position: absolute;
    left: 10px;
    top: 150px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    height: 500px;
    padding: 10px;
    line-height: 2;
    background-color: #333333cc;
}
.movieFullIcons{
    position: absolute;
    right: 50px;
    top: 10px;
}
.movieFullIconwatch{
    position: absolute;
    left: 50px;
    top: 10px;
}
.movieFullIconwatch img{
    cursor: pointer;
    transition: 0.3s ease;
}
.movieFullIconwatch img:hover{
    transform: scale(1.05);
}
.movieFullIcons img{
    cursor: pointer;
    transition: 0.3s ease;
}
.movieFullIcons img:hover{
    transform: scale(1.05);
}
.movieFullComment{
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 150px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px 0 0 10px;
    margin: 10px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 400px;
    padding: 10px;
    line-height: 2;
    background-color: #333333cc;
}
.movieFullComment button{
    position: relative;
    top: 1px;
    width: 60px;
    height: 33px;
}
.movieFullComment input{
    width: 130px;
    height: 30px;
    font-size: large;
    border-radius: 10px;
}

.movieFullCommentFrame{
    border: 1px solid white;
    border-radius: 10px;
    width: 370px;
    margin: 5px;
    padding: 5px;
}
.movieFullCommentInput{
    position: relative;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    min-height: 50px;
    width: 350px;
    padding: 10px;
    background-color: #333333cc;
    gap: 10px;
}
.movieFullCommentInput input[type="number"] {
    width: 70px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movieFullCommentInput input[type="text"] {
    width: 340px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movieFullRating{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}