.watchListProfileClick{
    cursor: pointer;
    margin: 5px;
    transition: 0.4s ease;
}
.watchListProfileClick:hover{
    transform: scale(1.05);
    background-color: #ccc;
    color: #333;
}
.favoriteProfileClick{
    cursor: pointer;
    margin: 5px;
    transition: 0.4s ease;
}
.favoriteProfileClick:hover{
    transform: scale(1.05);
    background-color: #ccc;
    color: #333;
}
.favoritesList{
    background-color: #333;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    max-height: 400px;
    overflow-y: auto;
}
.profileWatchList{
    background-color: #333;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    max-height: 400px;
    overflow-y: auto;
}
.earlierComments{
    text-align: center;
    max-height: 400px;
    overflow-y: auto;
    width: 830px;
    background-color: #333;
    border-radius: 10px;
}

.favandwatch{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    margin: 10px;
}

.userProfile{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    gap: 20px;
}
.imageContainer {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
}
.imageContainer h2 {
    font-size: xx-large;
}
.imageContainer img{
    border-radius: 10px;
}
.aboutFriend{
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    background-color: #333;
}
.addFriend{
    position: absolute;
    z-index: 2;
    top: 30px;
    right: 250px;
    text-align: center;
}
.addFriend button {
    position: relative;
    right: 6px;
    top: 3px;
    height: 30px;
    width: 90px;
    font-size: medium;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-radius: 0 10px 10px 0;
}
.addFriend input {
    position: relative;
    top: 2px;
    height: 24px;
    width: 180px;
    border-radius: 10px 0 0 10px;
    margin: 10px 0 10px 0;
    border: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}
.addFriend input:focus {
    border-color: #333;
}
.innerProfileComments{
    border: 1px solid #ccc;
    margin: 10px;
    padding: 5px;
}
.friendSpace {
    background-color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 10px;
    padding: 10px;
}
.friendContainer{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.friendContainer button {
    height: auto;
}
.friendClick {
    margin: 2px;
    font-size: large;
    transition: 0.4s ease;
    cursor: pointer;
}
.friendClick:hover {
    transform: scale(1.05);
    background-color: #ccc;
    color: #333;
}
.innerProfileComments{
    border: 1px solid #ccc;
    border-radius: 10px;
}
.message {
    width: 380px;
    border: 1px solid #ccc;
}
.messageSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 370px;
    max-height: 370px;
    background-color: #333;
    gap: 5px;
    padding: 5px;
}
.messageSection button {
    width: 150px;
    height: 25px;
    margin: 5px;
}
.messageSection input {
    width: 380px;
    height: 25px;
    margin: 5px;
    font-size: large;
}