body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background: url(IMG/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

button:hover {
    transform: scale(1.05);
}

/*header*/
.header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    height: 70px;
    margin-left: 5px;
}

.header img {
    transition: 0.3s ease;
}

.header img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.homeIcon {
    position: absolute;
    top: 13px;
    left: 20px;
    transition: 0.3s ease;
}

.homeIcon:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.logOutBtn {
    position: absolute;
    top: 18px;
    left: 25px;
    transition: 0.3s ease;
}

.logOutBtn:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.adminMark{
    position: relative;
    bottom: 50px;
    left: 100px;
}
/*dropdown*/
.movieDropBtn {
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 130px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.movieDropBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.profileDropBtn {
    position: absolute;
    z-index: 3;
    top: 22px;
    right: 30px;
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.profileDropBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.dropDownMovie {
    position: absolute;
    z-index: 3;
    top: 100px;
    right: 8px;
    background-color: #333;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 180px;
    padding: 10px;
    text-shadow: 2px 2px 5px red;
}

.dropDownMovie button {
    margin-top: 30px;
    width: 100px;
    height: 25px;
    border-radius: 10px;

}

.main {
    font-size: x-large;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.innerDrop {
    transition: 0.3s ease;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
    width: 120px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.innerDrop:hover {
    transform: scale(1.05);
}

.innerDropClose {
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
    width: 60px;
    height: 20px;
    margin-top: 20px;
    align-items: center;
    font-size: medium;
    transition: 0.3s ease;
}

.innerDropClose:hover {
    transform: scale(1.05);
}

.mainGridrec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    gap: 50px;
}
.mainStartText{
    margin-top: 60px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px red;
}
