body {
    background-color: black;
    font-family: 'Agent Orange';
    font-size: small;
    color: white;
    background: url(IMG/banner3.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
    font-family: 'Agent Orange';
    font-size: small;
}

button:hover {
    transform: scale(1.05);
}

/*header*/
.header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    height: 70px;
}

.header img {
    transition: 0.3s ease;
}

.header img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.homeIcon {
    position: absolute;
    top: 13px;
    left: 100px;
    transition: 0.3s ease;
}

.homeIcon:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.logOutBtn {
    position: absolute;
    top: 18px;
    left: 25px;
    transition: 0.3s ease;
}

.logOutBtn:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.adminMark{
    position: relative;
    bottom: 50px;
    left: 100px;
}
.userNameHeader{
    padding: 5px;
    border-radius: 8px;
    font-size: large;
}
/*dropdown*/
.movieDropBtn {
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 20px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.movieDropBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.dropDownMovie {
    position: absolute;
    z-index: 3;
    top: 100px;
    left: 8px;
    background-color: #333;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 400px;
    padding: 10px;
    text-shadow: 2px 2px 5px red;
    font-family: 'Agent Orange';
}

.dropDownMovie button {
    margin-top: 30px;
    width: 100px;
    height: 25px;
    border-radius: 10px;

}

.main {
    font-size: small;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.innerDrop {
    transition: 0.3s ease;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
    width: 120px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.innerDrop:hover {
    transform: scale(1.05);
}
.innerDropClose {
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
    width: 60px;
    height: 20px;
    margin-top: 20px;
    align-items: center;
    font-size: medium;
    transition: 0.3s ease;
}
.innerDropClose:hover {
    transform: scale(1.05);
}

.mainGridrec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    gap: 50px;
}
.mainStartText{
    margin-top: 60px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px red;
}
.mainStartTextInfo{
    font-size: medium;
    margin-top: 80px;
}
@font-face {
    font-family: 'Agent Orange';
    src: url('Font/AgentOrange.eot');
    src: local('Agent Orange'), local('AgentOrange'),
        url('Font/AgentOrange.eot?#iefix') format('embedded-opentype'),
        url('Font/AgentOrange.woff2') format('woff2'),
        url('Font/AgentOrange.woff') format('woff'),
        url('Font/AgentOrange.ttf') format('truetype'),
        url('Font/AgentOrange.svg#AgentOrange') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}