.userProfile{
    
    background-color: antiquewhite;
}

.innerProfile{
   
    background-color: rgb(185, 119, 33);
}

.friends-favoritesList{
    
    background-color: rgb(44, 89, 46);
}

.friendsList{
    
    background-color: rgb(238, 206, 0);
}

.commentaryInput{
    
    background-color: rgb(4, 0, 238);
}